@import "../../mixins";

.section {
  @include section;
  place-items: start;
}
.title {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 1em;
}
.list {
  padding-left: 2em;
}
.element {
  display: list-item;
  list-style: decimal;
  margin-bottom: 0.25em;
}