@import '../../variables';
@import '../../mixins';

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}
.reviewArea {
  width: 100%;
  height: 30em;
  @media (max-width: 800px) {
    height: 15em;
  }
}