@import "../../variables";
@import "../../mixins";

.header {
  height: min-content;
  padding: 0.5em 1em;
  background-color: $header-background-color;
  display: grid;
  grid-template: 'l n a' min-content / 16em 1fr 16em;
  align-items: center;
  color: $header-text-color;
  gap: 1em;
  @media (max-width: 1250px) {
    grid-template: 'l a' min-content
                    'n n' min-content / 1fr 1fr;
  }
}
.logo {
  grid-area: l;
  display: flex;
  gap: 1em;
  align-items: center;
  place-self: center start;
}
.logoImage {
  height: 3em;
  width: 3em;
  border-radius: 50%;
}
.logoTitle {
  font-size: 1.5em;
}
.auth {
  grid-area: a;
  place-self: center end;
  display: flex;
  gap: 1em;
  align-items: center;
}
.keyLink {
  min-width: max-content;
  font-weight: bold;
  @media (max-width: 650px) {
    min-width: unset;
    height: 2em;
    width: 2em;
    background-color: $header-text-color;
    mask: url("~/src/assets/svg/key.svg") no-repeat center;
  }
}
.authInput {
  @include input;
  width: 100%;
}
.nav {
  grid-area: n;
  display: flex;
  place-self: center;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}
.navLink {
  margin: 0 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  opacity: 0.7;
  text-align: center;
  width: fit-content;
}
.activeNavLink {
  opacity: 1;
  &>.navSpan{
    opacity: 1;
  }
}
.navLabel {
  font-size: 1.5em;
}
.navSpan {
  height: 0.2em;
  border-radius: 0.25em;
  background-color: $header-text-color;
  opacity: 0;
}