@import '../../variables';
@import '../../mixins';

.section {
  @include section;
  width: fit-content;
  grid-template: 'f m' auto / 4fr 3fr;
  @media (max-width: 800px) {
    grid-template:
            'm' auto
            'f' auto / 1fr;
  }
}
.manager {
  grid-area: m;
}
.form {
  grid-area: f;
}