@import "../../variables";

.modal {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $modal-background-color;
  display: grid;
  place-items: center;
}

.form {
  border-radius: 2em;
  padding: 2em;
  background-color: $modal-form-background-color;
  color: $modal-form-text-color;
}