$primary-color: #024989;
$primary-text-color: #ffffff;
$body-background-color: #f4f2ee;
$section-background-color: #E9E7E7;
$section-text-color: #4b4949;

$header-background-color: $primary-color;
$header-text-color: $primary-text-color;

$footer-background-color: $primary-color;
$footer-text-color: $primary-text-color;

$home-background-color: $section-background-color;
$home-text-color: $section-text-color;
$home-image-border-color: $primary-color;