$primary-color: #024989;
$body-background-color: #f4f2ee;
$primary-text-color: #ffffff;

$header-background-color: $primary-color;
$header-text-color: $primary-text-color;

$footer-background-color: $primary-color;
$footer-text-color: $primary-text-color;