@import '../../variables';
@import '../../mixins';

.layout {
  padding: 1em;
  border-radius: 1em;
  border: 0.25em $primary-color solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  height: fit-content;
}
.title {
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.labelToLeft {
  @include labelToLeft;
}
.select {
  @include select;
}
.button {
  @include button;
  color: $primary-text-color !important;
}