@import "../../variables";
@import "../../mixins";

.section {
  @include section;
}
.layout {
  display: grid;
  place-items: center;
  gap: 1em;
  height: min-content;
}
.title {
  font-size: 1.6em;
}
.button {
  @include button;
  color: $primary-text-color !important;
}