@import "../../variables";
@import "../../mixins";

.section {
  @include section;
  place-items: center;
}
.title {
  font-size: 2em;
  text-align: center;
}
.image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: $home-image-border-color 0.3em solid;
}
.link:hover {
  text-decoration: underline;
}